
body{
    background-image: url("rainbow.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    display: block;
}
header{
    text-align: center;
    margin-top:10%;
    margin-bottom: 10%;
    color: white;
}
#button{
    font-size: medium;
    top: 20px;
    float: right;
    margin-bottom: 2%;
    margin-right: 2%;
}
ul{
    width:100%;
    float: left;
    color: #fff;
}
b{
    font-size: 7vw;
    margin: 0 auto;
}
#listyle{
    width: 20%;
    font-size: small;
    margin-left: 0%;
    text-align: center;
}
.nav-tabs {
    border-bottom: 1px solid #0000;
}
.nav-link{
    color:#fff;
}
.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #656262;
    border-color: #0000;
}
.contanier{
    float: left;
    width: 100%;
    overflow: hidden;
    margin-top:2%;
    margin-bottom: 2%;
     position: relative;
}

#cardimage{
  float: left;
  width : 100%;
  opacity: 0.8;
}
#card_body{
  margin: 0 auto;
  float: left;
  width: 100%;
  color: black;
}
h6{
  font-size: 100%;
}
section{
  height: fit-content;
}
.content{
    width: 100%;
    float: left;
    margin: 0 auto;
}
p{
  font-size: 3.5vw;
  text-align: center;
}
#card{
    width: 95%; 
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.grid{
  margin-top: 2%;
  width : 100%;
  float : left;
}
footer{
    bottom:0%;
    float: left;
    width: 100%;
    text-align:center;
}
#footer_letter{
    width: 100%;
    text-align:center;
}
.imageclass{
    width:100%;
    margin: 0 auto;
}

@media screen and (max-width: 767px){
  
  html{
      height:100%;

  }  
  body{
      width:auto;
      min-height: 100%;
  }
  section{
      margin-bottom: auto;
  }
  .contanier{
      margin: 2% auto;
      width:100%;
      float:left;
      height: 85%;
      position: relative;
  }
  #card{
      height: 100%;
      overflow: auto;
  }
  #cardimage{
    display: inline-block;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
  }
  #card_body{
      padding: 10;
      height: 60%;
      margin: 0 auto;
      text-align: center;
  }
  .content{
      min-height: 100%;
      margin : 0 auto;
  }
  p{
      font-size:3.5vw;
  }
  footer{
      position:fixed;
      bottom : 0%;
  }
}